@import url("reset.css");

body {
    font-family: "Popins", Verdana, sans-serif;
    font-style: normal;
}
[class*="__container"]{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;

}
/* .header {
} */
.header__container {
    display: inline-block;
}
.header__wrap{

}
.header__logo {
}
.header-navigation {
    display: inline;
}
.header-navigation__list {
}
.nav {
}
.nav__item {
}
.header-navigation__list-social {
}
.nav-social {
}
.nav-social__item {
}
.header__search {
}
.search {
}
.header__slider {
}
.slider {
}
.slider__item {
}
.slider__title {
}
.slider__text {
}
.main {
}
.main__container {
}
.main-nav {
}
.main__title {@import url("reset.css");
}
.main__title--one {
}
.main-nav__list {
}
.main-nav__item {
}
.design {
}
.design__container {
}
.design__list {
}
.design__item {
}
.design__wrap {
}
.design__date {
}
.design__text {
}
.trending {
}
.trending__container {
}
.trending__title {
}
.trending__title--second {
}
.trending__list {
}
.trending__item {
}
.trending__wrap {
}
.trending__wrap--wrap {
}
.trending__date {
}
.trending__text {
}
.footer {
}
.footer__container {
}
.footer__logo {
}
.footerlogo {
}
.footer__navigation {
}
.footer__list {
}
.footer__list-social {
}
.footer__address {
}
.footer__copyright {
}
.copyright {
}