@import url("reset.css");

body {
    font-family: "Popins", Verdana, sans-serif;
    font-style: normal;
    margin: 0 auto;
}
[class*="__container"]{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;

}
/* .header {
} */
.header__container {
    
}
.header__wrap *{
    display: inline-block;
vertical-align: middle;

}
.header__wrap {
   
padding: 37px 0;
}
.header__logo {
}
.header__navigation {    
}
.header__list {
}
.nav {
}
.nav__item {
}
.header-navigation__list-social {
}
.nav-social {
}
.nav-social__item {
}
.header__search {
}
.search {
}
.header__slider {
    text-align: center;
    padding: 192px 318px;
    color: #fff;
}
.slider {
    max-width: 1241px;
    min-height: 50px;
    background: url(../img/header-room.webp)
}


.slider__item::after {
    margin-top: 133px;
    margin-left: -35px;
    position: absolute;
    content: url(../img/slider.svg);
}
.slider__title {
    color:  #E5E5E5;
    font-weight: 300;
font-size: 12px;
line-height: 1.66;
margin-bottom: 15px;

}
.slider__text {
}
.main {
}
.main__container {
}
.main-nav {
}
.main__title {
}
.main__title--one {
}
.main-nav__list {
}
.main-nav__item {
}
.design {
}
.design__container {
}
.design__list {
}
.design__item {
}
.design__wrap {
}
.design__date {
}
.design__text {
}
.trending {
}
.trending__container {
}
.trending__title {
}
.trending__title--second {
}
.trending__list {
}
.trending__item {
}
.trending__wrap {
}
.trending__wrap--wrap {
}
.trending__date {
}
.trending__text {
}
.footer {
    max-height: 325px;
    background: #212529;
    font-weight: 500;
font-size: 12px;
line-height: 1.66;
color: rgba(248, 249, 250, 0.5);
}
.footer__container {
}
.footer__logo {
}
.footerlogo {
}
.footer__navigation {
}
.footer__list {
}
.footer__list-social {
}
hr{
    width: 1240px;
    height: 0px;
    left: 100px;
    top: 3380px;
    border: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__address {
}
.footer__copyright {
}
.copyright {
}